/* COLOURS */


/* the colours for your website */


/* delete what you don't need */


/* use swatch 1 for your most important colour, swatch 2 for the next, and so on */

.swatch-1 {
    background: #FFDCE9;
}

.swatch-2 {
    background: #FFECF3;
}

.swatch-3 {
    background: #FFDBE8;
}

.swatch-4 {
    background: #FFF8FA;
}

.swatch-5 {
    background: #FAFAFA;
}



/* TYPOGRAPHY
/* the typography for your website */


/* delete the ones you don't need */

.type-1 {
    font-family: 'Crimson Text', serif;
    /* google font */
}

.type-2 {
    font-family: 'B612', sans-serif;
    /* example of 'web safe' font */
}

/* TEMPLATES/CODE SNIPPETS */


/* an example of the extra code you could add - this creates some buttons */

a.button {
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid black;
    margin-right: 10px;
    margin-bottom: 1em;
    border-radius: 0.2em;
    transition: all 0.2s ease;
}

a.button.important {
    font-size: 1.2em;
    background-image: linear-gradient(#FFFFFF,#E9E9E9);
    color: black;
    padding: 15px 30px;
}

a.button.normal {
    color: red;
}

a.button.less {
    color: grey;
}

a.button:hover {
    color: #222;
}

a.button.important:hover {
    background-image: linear-gradient(#FFF8FA,#FFECF3);
}